# Sacramento Housing Market Analysis

This project demonstrates the end-to-end process of preparing housing listing data for a Power BI dashboard.

**Data Collection:**  
- Scraped Sacramento apartment listings from Craigslist using Python, Selenium, and HTML parsing.  
- Key fields collected: Rent, Number of Bedrooms, Square Footage, and Listing URL.  
- Pretend Data has been used in place of the web scraping due to the live browswer nature of Selenium (Chromedriver)

In [32]:
import pandas as pd

In [40]:
# Sample pretend data
data = {
    "Rent Amount": ["$1800", "$2200", "$1500"],
    "Square Footage": ["900ft2", "1200ft2", "750ft2"],
    "Locality": ["Sacramento", "Sacramento", "Sacramento"],
    "Region": ["CA", "CA", "CA"],
    "Number of Bedrooms": ["2br", "3br", "1br"],
    "Number of Bathrooms": ["1", "2", "1"],
    "Type of House": ["Apartment", "Apartment", "Studio"],
    "Amenities": ["Pool, Gym", "Gym", "Pool"]
}

df = pd.DataFrame(data)
df.head()

,Rent Amount,Square Footage,Locality,Region,Number of Bedrooms,Number of Bathrooms,Type of House,Amenities
0,$1800,900ft2,Sacramento,CA,2br,1,Apartment,"Pool, Gym"
1,$2200,1200ft2,Sacramento,CA,3br,2,Apartment,Gym
2,$1500,750ft2,Sacramento,CA,1br,1,Studio,Pool

## Step 1: Create Sample Housing Data

Simulate scraped data with the following columns:
- Rent Amount
- Square Footage
- Locality / Region
- Number of Bedrooms / Bathrooms
- Type of House
- Amenities

In [41]:
# Sample pretend data
data = {
    "Rent Amount": ["$1800", "$2200", "$1500"],
    "Square Footage": ["900ft2", "1200ft2", "750ft2"],
    "Locality": ["Sacramento", "Sacramento", "Sacramento"],
    "Region": ["CA", "CA", "CA"],
    "Number of Bedrooms": ["2br", "3br", "1br"],
    "Number of Bathrooms": ["1", "2", "1"],
    "Type of House": ["Apartment", "Apartment", "Studio"],
    "Amenities": ["Pool, Gym", "Gym", "Pool"]
}

df = pd.DataFrame(data)
df.head()

,Rent Amount,Square Footage,Locality,Region,Number of Bedrooms,Number of Bathrooms,Type of House,Amenities
0,$1800,900ft2,Sacramento,CA,2br,1,Apartment,"Pool, Gym"
1,$2200,1200ft2,Sacramento,CA,3br,2,Apartment,Gym
2,$1500,750ft2,Sacramento,CA,1br,1,Studio,Pool

## Step 2: Clean Numeric Columns

Convert messy strings to numeric values:
- Rent → float
- Bedrooms → float
- Square Footage → float
- Optional: round to 2 decimals

In [42]:
# Convert columns to numeric and round
df['Rent'] = df['Rent Amount'].str.replace('$', '', regex=False).astype(float).round(2)
df['Bedrooms'] = df['Number of Bedrooms'].str.extract(r'(\d+)')[0].astype(float).round(2)
df['SqFt'] = df['Square Footage'].str.extract(r'(\d+)')[0].astype(float).round(2)

# Drop original columns
df.drop(columns=['Rent Amount', 'Number of Bedrooms', 'Square Footage'], inplace=True)

df.head()

,Locality,Region,Number of Bathrooms,Type of House,Amenities,Rent,Bedrooms,SqFt
0,Sacramento,CA,1,Apartment,"Pool, Gym",1800.0,2.0,900.0
1,Sacramento,CA,2,Apartment,Gym,2200.0,3.0,1200.0
2,Sacramento,CA,1,Studio,Pool,1500.0,1.0,750.0

## Step 3: Summary and Quality Check

Quick overview of numeric data to ensure everything is clean and ready.

In [43]:
# Summary stats
df.describe()

              Rent  Bedrooms         SqFt
count     3.000000       3.0     3.000000
mean   1833.333333       2.0   950.000000
std     351.188458       1.0   229.128785
min    1500.000000       1.0   750.000000
25%    1650.000000       1.5   825.000000
50%    1800.000000       2.0   900.000000
75%    2000.000000       2.5  1050.000000
max    2200.000000       3.0  1200.000000

In [44]:
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Locality             3 non-null      object
 1   Region               3 non-null      object
 2   Number of Bathrooms  3 non-null      object
 3   Type of House        3 non-null      object
 4   Amenities            3 non-null      object
 5   Rent                 3 non-null      float64
 6   Bedrooms             3 non-null      float64
 7   SqFt                 3 non-null      float64
dtypes: float64(3), object(5)
memory usage: 324.0+ bytes

## Step 4: Notes and Next Steps

- Pretend data simulates scraped listings for Sacramento apartments.
- Cleaning steps included:
  - Converting Rent, Bedrooms, SqFt to numeric to make data usable in Power BI
  - Dropping original messy columns to decrease load
- Data is now ready for:
  - Power BI import
  - Creating star schema
  - DAX measures
  - Interactive dashboards